// setting up templates for grids and feeding them to the media query mixin

/*      DEFAULT LAYOUT (small screen)     */

// single row for header with columns as margins
$top-grid-template-columns: '[col-start] 0 [col-left] 1fr [col-right] 0 [col-end]';
$top-grid-template-rows: '[row-start] var(--main-height) [row-header]';

// left and right aside columns intersecting (right is placed before left)
$main-grid-template-columns: '[col-start] 1fr [col-right] 1fr [col-left] 1fr [col-end]';
$main-grid-template-rows: '[row-start] auto [row-top] auto [row-end]';

// two rows for navbar and footer with columns as margins
$bottom-grid-template-columns: '[col-start] 0 [col-left] 1fr [col-right] 0 [col-end]';
$bottom-grid-template-rows: '[row-footer] max-content [row-nav] var(--main-height) [row-end]';

// first arg is the parameter to query, then min or min and max
@include mediaQuery('width', 0px, 320px) {
  #top-grid {
    grid-template-columns: #{$top-grid-template-columns};
    grid-template-rows: #{$top-grid-template-rows};
  }
  main {
    grid-template-columns: #{$main-grid-template-columns};
    grid-template-rows: #{$main-grid-template-rows};
  }
  #bottom-grid {
    grid-template-columns: #{$bottom-grid-template-columns};
    grid-template-rows: #{$bottom-grid-template-rows};
  }
}

/*      PHONES       */

$top-grid-template-columns: '[col-start] 0 [col-left] 1fr [col-right] 0 [col-end]';
$top-grid-template-rows: '[row-start] var(--main-height) [row-header]';

// left and right aside columns share the width equally
$main-grid-template-columns: '[col-start] 1fr [col-left] 0 [col-right] 1fr [col-end]';
$main-grid-template-rows: '[row-start] auto [row-top] auto [row-end]';

$bottom-grid-template-columns: '[col-start] 0 [col-left] 1fr [col-right] 0 [col-end]';
$bottom-grid-template-rows: '[row-footer] max-content [row-nav] var(--main-height) [row-end]';

@include mediaQuery('width', 320px) {
  #top-grid {
    grid-template-columns: #{$top-grid-template-columns};
    grid-template-rows: #{$top-grid-template-rows};
  }
  main {
    grid-template-columns: #{$main-grid-template-columns};
    grid-template-rows: #{$main-grid-template-rows};
  }
  #bottom-grid {
    grid-template-columns: #{$bottom-grid-template-columns};
    grid-template-rows: #{$bottom-grid-template-rows};
  }
}

/*      SMALL TABLET     */

$top-grid-template-columns: '[col-start] 0 [col-left] 1fr [col-right] 0 [col-end]';
$top-grid-template-rows: '[row-start] var(--main-height) [row-header]';

$main-grid-template-columns: '[col-start] 1fr [col-left] 1fr [col-right] 1fr [col-end]';
$main-grid-template-rows: '[row-start] auto [row-top] auto [row-end]';

$bottom-grid-template-columns: '[col-start] 0 [col-left] 1fr [col-right] 0 [col-end]';
$bottom-grid-template-rows: '[row-footer] max-content [row-nav] var(--main-height) [row-end]';

@include mediaQuery('width', 600px) {
  #top-grid {
    grid-template-columns: #{$top-grid-template-columns};
    grid-template-rows: #{$top-grid-template-rows};
  }
  main {
    grid-template-columns: #{$main-grid-template-columns};
    grid-template-rows: #{$main-grid-template-rows};
  }
  #bottom-grid {
    grid-template-columns: #{$bottom-grid-template-columns};
    grid-template-rows: #{$bottom-grid-template-rows};
  }
}

/*      TABLET     */

$top-grid-template-columns: '[col-start] 1fr [col-left] 60% [col-right] 1fr [col-end]';
$top-grid-template-rows: '[row-start] var(--main-height) [row-header]';

$main-grid-template-columns: '[col-start] 1fr [col-left] 60% [col-right] 1fr [col-end]';
$main-grid-template-rows: '[row-start] auto [row-top] auto [row-end]';

$bottom-grid-template-columns: '[col-start] 1fr [col-left] 60% [col-right] 1fr [col-end]';
$bottom-grid-template-rows: '[row-footer] max-content [row-nav] var(--main-height) [row-end]';

@include mediaQuery('width', 768px) {
  #top-grid {
    grid-template-columns: #{$top-grid-template-columns};
    grid-template-rows: #{$top-grid-template-rows};
  }
  main {
    grid-template-columns: #{$main-grid-template-columns};
    grid-template-rows: #{$main-grid-template-rows};
  }
  #bottom-grid {
    grid-template-columns: #{$bottom-grid-template-columns};
    grid-template-rows: #{$bottom-grid-template-rows};
  }

  // setting new limits for the central part
  #top-bar,
  article {
    grid-column: col-left / col-right;
  }
}

/*      DESKTOP      */

// $grid-template-columns: '[col-start] auto [col-side-start] 15% [col-side-end] auto [col-main-start] 60% [col-main-end] auto [col-ads-start] 15% [col-ads-end] auto [col-end]';
// $grid-template-rows: '[row-start] var(--main-height) [row-header] max-content [row-top] auto [row-footer] max-content [row-nav] auto [row-end]';

$top-grid-template-columns: '[col-start] 1fr [col-left] 60% [col-right] 1fr [col-end]';
$top-grid-template-rows: '[row-start] var(--main-height) [row-header]';

$main-grid-template-columns: '[col-start] auto [col-left-outer] 15% [col-left-inner] auto [col-left] 60% [col-right] auto [col-right-inner] 15% [col-right-outer] auto [col-end]';
$main-grid-template-rows: '[row-start] auto [row-top] auto [row-end]';

$bottom-grid-template-columns: '[col-start] 1fr [col-left] 60% [col-right] 1fr [col-end]';
$bottom-grid-template-rows: '[row-footer] max-content [row-nav] var(--main-height) [row-end]';

@include mediaQuery('width', 960px) {
  #top-grid {
    grid-template-columns: #{$top-grid-template-columns};
    grid-template-rows: #{$top-grid-template-rows};
  }
  main {
    grid-template-columns: #{$main-grid-template-columns};
    grid-template-rows: #{$main-grid-template-rows};
  }
  #bottom-grid {
    grid-template-columns: #{$bottom-grid-template-columns};
    grid-template-rows: #{$bottom-grid-template-rows};
  }

  #top-bar,
  article {
    grid-column: col-left / col-right;
  }

  #left-sidebar {
    grid-column: col-left-outer / col-left-inner;
  }

  #right-sidebar {
    grid-column: col-right-inner / col-right-outer;
  }
}
