$navbar-buttons: 5;

// CUSTOM PROPERTIES
:root {
  --main-bg-color: rgb(255, 255, 255);
  --main-height: 2rem;
  // --main-height: calc((10vh+10vw)/2);
  --button-color: #555;
  --button-hover-color: #aaa;
  --button-active-color: #333;
  --field-font-color: rgb(100, 100, 100);
  --field-placeholder-color: #aaa;
  --field-underline-color: #ddd;
  --field-underline-color-active: #777;
}
