.header-wrapper {
  display: flex;
  background-color: var(--main-bg-color);
  width: 100%;
}

.header-title {
  @extend .header-wrapper;
  width: 1px;
  margin: auto;
  border-left: 1rem solid var(--main-bg-color);
  border-right: 1rem solid var(--main-bg-color);
  flex-grow: 1;
  text-align: center;
  line-height: var(--main-height);
  overflow: hidden;
  white-space: nowrap;
  /* text-overflow: ellipsis; */
  z-index: 0;
}

.view-header {
  display: flex;
  background-color: var(--main-bg-color);
  line-height: var(--main-height);
  height: 100%;
  padding-right: var(--main-height);
}

.view-caption {
  flex: 1;
  text-align: center;
}

@keyframes header-animation {
  0% {
    transform: translateX(100%);
  }
  /* 50% {
        transform: translateX(-50%);
    } */
  100% {
    transform: translateX(-100%);
  }
  /* 100% {
        transform: translateX(0%);
    } */
}

/* .animate-header {
    animation: header-animation 8s linear 0ms infinite normal;
} */
