nav ul {
  display: flex;
  height: var(--main-height);
  list-style: none;
}

.navlink {
  flex-basis: 100%;
  text-align: center;
  line-height: var(--main-height);
  font-size: var(--button-icon-size);
  background-color: var(--main-bg-color);
  a {
    display: block;
    width: 100%;
    height: 100%;
    &:visited {
      color: var(--button-color);
    }
    &:hover {
      color: var(--button-hover-color);
    }
    &:active {
      color: var(--button-active-color);
    }
    &.active {
      color: var(--button-active-color);
    }
  }
}
