#navbar ul {
  display: flex;
  .navlink,
  :visited {
    // display: inline;
    flex-basis: 100%;
    text-align: center;
    line-height: var(--main-height);
    font-size: 1rem;
    color: var(--button-color);
    background-color: var(--main-bg-color);
    &:hover {
      color: var(--button-hover-color);
    }
    &:active {
      color: var(--button-active-color);
    }
    &.active {
      color: var(--button-active-color);
    }
  }
}
