.view {
  //   background-color: var(--main-bg-color);
  background-color: rgba(60, 60, 145, 0.555);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - var(--main-height) * 2);
}
